VirtualBox/
Arduin*/
VisualParadigm/
ibus/
libreoffice/
menus/
virtscreen/
vscode-sqltools/
wireshark/
.gsd*
monitors.xml~
user*
arduino-ide/
autostart/
cef_user_data/
Code/
dconf/
Deskreen/
enchant/
eog/
evolution/
geary/
gedit/
gh/
github-copilot/
gnome-initial-setup-done
gnome-session/
GNS3/
goa-1.0/
gtk-3.0/
*.xml 
nautilus/
neofetch/
*ini
pop-shell/
pop-system-updater/
Postman/
procps/
pulse/
*.conf
starship.toml
systemd/
teams/
totem/
touchegg/
