<?xml version="1.0"?>
<DHCPServer networkName="HostInterfaceNetworking-vboxnet1" trunkName="vboxnet1" trunkType="netflt" IPAddress="192.168.57.2" lowerIP="192.168.57.3" upperIP="192.168.57.254" leasesFilename="/home/shg/.config/VirtualBox/HostInterfaceNetworking-vboxnet1-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
